<section id="contato">
    <p>Entre em contato conosco</p>
    <ul>
        <li>
            <img src="assets/redes_social_icons/linkedin2.png" class="social-icons" />
            <p class="redes-sociais-text">BeatSpace</p>
        </li>
        <li>
            <img src="assets/redes_social_icons/email.png" class="social-icons" />
            <p class="redes-sociais-text">contato&#64;beatspace.com</p>
        </li>
        <li>
            <img src="assets/redes_social_icons/facebook2.png" class="social-icons" />
            <p class="redes-sociais-text">BeatSpace</p>
        </li>
    </ul>
</section>