:host ::ng-deep .p-button {
    padding: 16px;
    text-align: center;
    border-radius: 500px;
    padding-left: 20px;
    width: 100%;
}

:host ::ng-deep .add-comentario {
    padding: 16px;
    text-align: center;
    border-radius: 500px;
    padding-left: 20px;
    width: 450px;
}