<footer class="footer ">   
    <nav class="nav-footer" > 
        <div class="logo-titulo">
            <img src="assets/logo.svg" alt="Logo" class="logo" />
            <span class="text-white">BeatSpace</span>
        </div>
        <div class="flex flex-row space-x-2">
            <img src="assets/redes_social_icons/facebook.png" alt="Facebook" class="w-[32px]  h-[32px] " />
            <img src="assets/redes_social_icons/insta.png" alt="Instagram" class="w-[32px]  h-[32px] " />
            <img src="assets/redes_social_icons/linkedin.png" alt="Instagram" class="w-[32px]  h-[32px] " />
        </div>
    </nav>
    <main class="mt-10">
        <div class="div-menu">
            <h1 class="text-white menu">MENU</h1>
            <div class="divider"></div>
            <ul class="brand">
                <li><a routerLink="home" >HOME</a></li>
                <li>COMENTÁRIOS</li>
                <li><a href="#contato">CONTATO</a></li>
            </ul>
        </div>
        <section class="card-sportify brand p-8">
            <h2 class="font-bold ">BAIXE O SPOTIFY</h2>
            <p class="spotify-text">Baixe o Spotify para poder utilizar nossa aplicação e interagir com a nossa comunidade.</p>
            <div class="mt-2 space-y-2 flex flex-row w-fit div-buttons">
                <a href="https://apps.apple.com/br/app/spotify-m%C3%BAsicas-e-podcasts/id324684580">
                    <button  class="action-button space-x-2 h-16">
                        <img class="" src="assets/redes_social_icons/apple-icon.png" alt="">
                        <p  class="text-xs">APP STORE</p>
                    </button>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.spotify.music&pcampaignid=web_share">
                    <button class="action-button space-x-2 h-16">
                        <img class="" src="assets/redes_social_icons/playstore-icon.png"  alt="">
                        <p class="text-xs">PLAY STORE</p>
                    </button>
                </a>
            </div>
        </section>
    </main>
    <div class="divider"></div>
    <p>Todos os direitos reservados.</p>
</footer>