<!-- 
<div class="card flex justify-center">
    <p-button label="Check" />
</div>



<p-floatlabel>
    <input id="username" pInputText [(ngModel)]="value" />
    <label for="username">Username</label>
</p-floatlabel> -->

<footer class="footer ">   
    <nav class="nav-footer" > 
        <div class="logo-titulo">
            <img src="assets/logo.svg" alt="Logo" class="logo" />
            <span class="text-white">BeatSpace</span>
        </div>

        <div class="flex flex-row space-x-2">
            <img src="assets/redes_social_icons/facebook.png" alt="Facebook" class="w-[32px]  h-[32px] " />
            <img src="assets/redes_social_icons/insta.png" alt="Instagram" class="w-[32px]  h-[32px] " />
            <img src="assets/redes_social_icons/linkedin.png" alt="Instagram" class="w-[32px]  h-[32px] " />
        </div>
    </nav>

<main class=" flex flex-row gap-[800px] mt-10 w-fit ">
    <div class="max-w-64">
        <h1 class="text-white">Menu</h1>
        <hr class="border-t border-gray-300 my-4">
        <ul class="brand">
            <li>Home</li>
            <li>Comentários</li>
            <li>Contato</li>
          
        </ul>
    </div>


    <div class="card-sportify brand p-8">
        <h1 class="text-small font-bold ">Baixe o Sportify</h1>
        <p class="text-xs max-w-[285px] leading-snug mt-2 mb-4">Baixe o Spotify para poder utilizar nossa aplicação e interagir com a nossa comunidade.</p>

        <div class="mt-2 space-y-2 flex flex-row w-fit">  
        <button class="action-button space-x-2 h-16">
            <img class="" src="assets/redes_social_icons/apple-icon.png" alt="">
            <p  class="text-xs">APP STORE</p>
        </button>
          
        <button class="action-button space-x-2 h-16 ">
            <img class="" src="assets/redes_social_icons/playstore-icon.png"  alt="">
            <p class="text-xs">PLAY STORE</p>
        </button>
        
        </div>
        
    </div>
</main>
<hr class="border-t border-gray-300 my-4">
</footer>