<section class="top-music py-10 px-6">
    <h1 class="text-3xl font-bold text-center mb-6">Meu Top Músicas</h1>
   <div class="music-container flex flex-wrap justify-center gap-6">
       <div *ngFor="let track of tracks" class="music-item w-100 flex items-center gap-6 overflow-hidden hover:scale-105 transition-all duration-300">
           <div class="music-card p-4 flex items-center">
               <img [src]="track.album.images[0].url" class="music-image w-32 h-32 object-cover rounded-md">
               <div class="music-details flex flex-col justify-center pl-4 w-80">
                   <h3 class="music-name text-xl font-bold mb-2">{{ track.name }}</h3>
                   <p class="music-artist text-sm">{{ track.artists[0].name }}</p>
               </div>
           </div>
       </div>
   </div>
</section>
