<h1>O que nossos usuários estão dizendo?</h1>
<p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="true" autoplayInterval="3000">
    <ng-template pTemplate="item" let-item>
        <div class="div-carrossel text-center p-10 cards max-w-xl h-56 justify-between">
            <p class="paragrafo text-left font-DM">{{ item.feedback }}</p>
            <div class="profile flex flex-row space-x-2 align-center mt-8">
                <img [src]="item.image" [alt]="item.alt" class="w-10 h-10 object-cover rounded-full shadow-lg ">
                <h3 class="text-sm font-semibold font-DM">{{ item.title }}</h3>
            </div>
        </div>
    </ng-template>
</p-carousel>
