
<p-toast />
<main class=" flex flex-col justify-center items-center space-y-8 mb-10">

    <section class="pt-10 w-full" >
       <nav class="flex flex-row justify-between">
          
          
       </nav>

       <div class="flex flex-row justify-center items-center gap-5">
        
        <img class="w-100 h-60" [src]="album!.images[0].url" alt="">
        <div class="flex flex-col gap-4">
            <h1 class="text-4xl font-DM text-white">{{album?.name}}</h1>
            <p class="text-white bold">Tipo de Álbum : {{album?.album_type}}</p>
            <p class="text-white">Artista : {{album!.artists[0].name}}</p>
            <p class="text-white">Data de Lançamento : {{album?.release_date | date}}</p>
            <p class="text-white">Músicas Totais : {{album?.total_tracks}}</p>
            
            <button (click)="favoritarAlbum(album?.id)" class="flex flex-row space-x-4">
                <img class="w-8 h-8" *ngIf="!isFavorito(album?.id)" src="/assets/favorite-white.png" alt="Favoritar"> 
                <img class="w-8 h-8" *ngIf="isFavorito(album?.id)" src="/assets/favorite-fill.png" alt="Favoritado">
                <p>{{ isFavorito(album?.id) ? 'Favoritado' : 'Favoritar' }}</p>
            </button>

            <a [href]="album?.uri" class="uppercase bg-[#88B702] rounded-full py-4 px-8 font-main mt-5">Acessar álbum no Spotify</a>
          
            
        </div>
        
        </div>
    </section>

    <section class="pt-10 w-full  flex flex-col items-center gap-10" *ngIf="!this.showSpinner">
        <h2 class="text-white text-3xl "> Comentários</h2>
        <form class="w-90 flex flex-col items-center gap-5" [formGroup]="meuFormulario">
            <textarea formControlName="texto" id="" class="w-full h-40 background-white p-5 rounded-md" placeholder="Escreva seu comentário aqui..."></textarea>
            
        </form>
        <p-button label="Enviar comentário" severity="success" (onClick)="OnSubmit()"/>
        
        <div *ngFor="let comentario of comentarios">

            <div class="div-carrossel  text-center p-4 cards w-100 h-30 justify-between ">
                <p class="paragrafo text-left font-DM ">{{ comentario.texto }}</p>
                <div class="profile flex flex-row space-x-2 align-center mt-8 ">
                    <h3 class="text-sm font-semibold font-DM">{{"- "+comentario.autor}}</h3>
                </div>
            </div>

        </div>

        <p-progress-spinner ariaLabel="loading" *ngIf="this.showSpinner" />
      
    </section>
 
   </main> 

