
<p-toast />
<main class=" flex flex-col justify-center items-center space-y-8 mb-10">

    <section class="pt-10 w-full" >
       <nav class="flex flex-row justify-between">
          
          
       </nav>

       <div class="flex flex-row justify-center items-center gap-5">
        
        <img class="w-100 h-60" [src]="album!.images[0].url" alt="">
        <div class="flex flex-col gap-4">
            <h1 class="text-4xl font-DM text-white">{{album?.name}}</h1>
            <p class="text-white bold">Tipo de Álbum : {{album?.album_type}}</p>
            <p class="text-white">Artista : {{album!.artists[0].name}}</p>
            <p class="text-white">Data de Lançamento : {{album?.release_date | date}}</p>
            <p class="text-white">Músicas Totais : {{album?.total_tracks}}</p>
            <a [href]="album?.uri" class="uppercase bg-[#88B702] rounded-full py-4 px-4 font-main mt-5 text-center">Acessar álbum no Spotify</a>
            
        </div>
        
        </div>
    </section>

    <p-button  class="mt-5" (onClick)="toggleDropdown()" >Adicionar Comentário <mat-icon>add</mat-icon></p-button>
    <p-dialog styleClass=" bg-#050605 !important" [modal]="true" [(visible)]="isOpen" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
                    
        <div class="flex flex-col gap-5">

            <h1 class="text-white text-4xl text-center">Eu escutei...</h1>

            <div class="flex flex-row gap-5 items-center p-5">
                <div class="flex flex-col gap-4">
                    <img [src]="album!.images[1].url" alt="">
                    <div class="text-white text-2xl text-center"> {{album?.name}} </div>
        
                </div>
               
                <div class="flex flex-col gap-10">
                    

                    <form [formGroup]="meuFormulario" class="flex flex-col gap-4">

                        
                    <p-floatLabel>
                        <textarea class="p-4" formControlName="texto" pTextarea  rows="6" cols="45" style="resize: none" [maxlength]="250"></textarea>
                        <label for="description">Adicione seu comentário...</label>
                    </p-floatLabel>

                    <span class="text-white">Nota : </span>
                    <p-rating formControlName="nota" [stars]="10"></p-rating>
                    <span class="text-white">Data : </span>
                    <p-datepicker formControlName="data" dateFormat="dd.mm.yy" [showIcon]="true" showOnFocus="false" />
                  
                   
                    
                    </form>
                    <div class="flex flex-row gap-2 items-center">
                        <span class="text-white" class="flex flex-row items-center "> <span class="text-white">Salvar</span><mat-icon style="text-color:white" class="text-white">bookmark</mat-icon></span> 
                        <p-checkbox [(ngModel)]="salvar" inputId="size_large" name="size" value="Large" size="large" />
                    </div>
                   
                    <div class="flex flex-row justify-end">
                        <p-button (onClick)="OnSubmit()" [loading]="loading">Enviar</p-button>

                    </div>
                </div>
    
            </div>


        </div>
      


    </p-dialog> 

   <p *ngIf="comentarios.length === 0 " class="text-white">Nenhuma Review registrada para este álbum</p>

   <section class="w-1/2" *ngIf="comentarios && comentarios.length>0">

    <h1 class="text-center text-3xl text-center p-4">Reviews Recentes</h1>
    <div class="divider-up"></div>
    <div class="flex flex-col gap-2" *ngFor="let comentario of this.comentarios">
        <div class="flex flex-row items-center gap-4">
            <img [src]="comentario.userimg" alt="" style="border-radius: 50%;">
            <div class="flex flex-col gap-4">
                <div class="flex flex-row items-center gap-2">
                    <p class="text-white p-2 text-md">Review feito por {{comentario.username}}</p>
                    <p-rating [(ngModel)]="comentario.nota" [disabled]="true" [stars]="10" />
                </div>
                <p class="text-white">
                    {{comentario.texto}}
                </p>
                <div class="text-white text-sm self-end">{{comentario.data | date}}</div>
            </div>
        </div>
        <div class="divider-up"></div>
    </div>
    

   </section>
 
   </main> 

