@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

h1 {
    font-family: "DM Sans", serif;
    color: white;
    font-weight: bold;
}

.barra-pesquisa {
    background-color: rgba(255, 255, 255, 0.10);
}

.cards {
    background-color: rgba(255, 255, 255, 0.10);
}

.font-DM {
    font-family: 'DM Sans',sans-serif
}

textarea {
    background-color: rgba(255, 255, 255, 0.1);
    color: black; /* Opcional: Define a cor do texto */
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 150px;
}

.p-email {
    font-size: 25px;
    padding-left: 20px;
    line-height: 30px;
}



.cards{
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
}

.cards:hover{
    background-color: #88B702;
}

.paragrafo{
    font-size: 15px;
    justify-content: start;
}

.font-DM{
    font-family: "DM Sans", serif;
    color: white;
}

ng:host .p-carrousel  .p-carousel-indicator-button-highlight{
    background-color: red !important;
}

.div-carrossel {
    margin-left: 15px;
    margin-right: 15px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}


::ng-deep .p-dialog {
    border-radius: 10px; /* Optional: para bordas arredondadas */
    background-color: #050605 !important;
  }
  

  .divider-up {
    height: 1px;
    width: 100%;
    background-color: #444;
}


.divider {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-top: 50px;
    margin-bottom: 20px;
}

.musica {
    margin-left: 150px;
    margin-right: 150px;
}

.musica-infos {
    display: flex;
    flex-direction: row;
}

.infos {
    color: #888;
}

b {
    color: #34d399;
}

:host ::ng-deep .p-button {
    padding: 16px;
    text-align: center;
    border-radius: 500px;
    padding-left: 20px;
    width: 100%;
}

.titulo {
    color: #34d399;
}

.eu-escutei {
    margin-top: -5px;
}