<p-toast></p-toast>

<!-- só vai aparecer para o usuário logado -->
<div class="flex flex-col items-center mt-5">
    <a class="uppercase bg-[#34d399] rounded-full py-4 font-main mt-5 text-center text-black w-[280px] cursor-pointer hover:bg-[#2eb382]">
        CRIAR NOVA PLAYLIST
    </a>
</div>

<div class="flex flex-wrap gap-5 mt-4 mb-30 justify-evenly mr-16 ml-16">

    <div *ngFor="let playlist of playlists">
        <div class="rounded-xl w-[350px] text-center p-4 cards max-w-xl justify-between">
            
            <div class="flex flex-col space-x-2 align-center mt-8">
                <img *ngIf="playlist.images" [src]="playlist.images[0].url" class="object-cover rounded-lg shadow-lg">
                
                <h3 class="mt-4 text-xl font-DM text-left text-white pb-2 font-bold">
                    {{ playlist.name }}
                </h3>
                
                <p class="font-normal text-left text-xs text-[#888]">
                    Autor da playlist: 
                    <b class="uppercase text-[#34d399]">{{ playlist.owner.display_name }}</b>
                </p>
                
                <p class="font-normal text-left text-xs text-[#888]">
                    Total: <b class="uppercase text-[#34d399]">{{ playlist.tracks.total }} músicas</b>
                </p>
                
                <div class="flex flex-row items-center justify-between w-full">
                    <a *ngIf="playlist" [routerLink]="['/home/playlist', playlist.id]"
                        [ngClass]="{'w-full': playlist.owner.id !== userId}" 
                        class="uppercase bg-[#34d399] rounded-full py-4 px-6 font-main mt-5 text-black text-center hover:bg-[#2eb382]">
                        Ver detalhes da playlist
                    </a>
                
                    <div class="dropdown" *ngIf="playlist.owner.id === userId">
                        <button (click)="toggleDropdown(playlist)" 
                                class="w-[56px] h-[56px] bg-[#34d399] rounded-full flex items-center justify-center mt-5 cursor-pointer hover:bg-[#2eb382]">
                            <mat-icon style="color: black !important;">edit</mat-icon>
                        </button>

                        <p-dialog 
                            styleClass="bg-#050605 !important px-6 pb-6" 
                            [modal]="true" 
                            [(visible)]="isOpen" 
                            [style]="{ width: '50rem' }" 
                            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                            <div class="flex flex-wrap gap-5 justify-start ml-6 mr-6 flex flex-col items-start">
                                <div class="flex flex-col items-center w-full">
                                    <h1 class="text-4xl text-center text-white font-DM font-bold mb-4">Alterar Playlist</h1>
                                </div>

                                <form class="w-full flex flex-col" [formGroup]="Form!">
                                    
                                    <!-- Nome da Playlist -->
                                    <div class="flex flex-row items-center gap-3 w-full">
                                        <label for="username" class="text-white text-lg font-bold text-left" style="white-space: nowrap;">Nome da Playlist <span class="text-color">*</span></label>
                                        <input class="rounded-2xl p-inputtext w-full bg-transparent placeholder:text-white text-white border border-gray-500 focus:border-green-400 focus:ring-1 focus:ring-green-400" 
                                            pInputText placeholder="Nome" aria-describedby="username-help" formControlName="name">
                                    </div>

                                    <!-- Descrição -->
                                    <div class="flex flex-row items-center gap-3 w-full mt-5">
                                        <label for="description" class="text-white text-lg font-bold text-left" style="white-space: nowrap;">Descrição <span class="opicional">(Opcional)</span></label>
                                        <p-iftalabel class="w-full">
                                            <textarea 
                                                class="font-DM rounded-2xl py-4 px-6 w-full bg-transparent placeholder:text-white text-white border border-gray-500 focus:border-green-400 focus:ring-1 focus:ring-green-400 resize-none" 
                                                pTextarea id="description" formControlName="description" rows="5" cols="30" style="resize: none"></textarea>
                                            <!-- <label for="description" class="text-white text-lg">Descrição *</label> -->
                                        </p-iftalabel>
                                    </div>

                                    <!-- Imagem de Capa -->
                                    <div class="flex flex-row items-center gap-3 w-full mt-5">
                                        <label for="image" class="text-white text-lg font-bold text-left" style="white-space: nowrap;">Imagem de capa <span class="opicional">(Opcional)</span></label>
                                        <p-fileupload 
                                            mode="basic" 
                                            chooseLabel="Selecione um arquivo" 
                                            chooseIcon="pi pi-upload"
                                            accept="image/*" 
                                            maxFileSize="262144" 
                                            [showUploadButton]="true" 
                                            [showCancelButton]="true" 
                                            (onSelect)="onFileSelect($event)">
                                        </p-fileupload>
                                    </div>

                                    <!-- Tipo da Playlist -->
                                    <div class="flex flex-row items-center gap-3 w-full mt-5">
                                        <label class="text-white text-lg font-bold text-left" style="white-space: nowrap;">Tipo da Playlist <span class="text-color">*</span></label>
                                        <p-selectbutton 
                                            class="w-full" 
                                            [options]="stateOptions" 
                                            formControlName="public" 
                                            optionLabel="label" 
                                            optionValue="value">
                                        </p-selectbutton>
                                    </div>

                                    <!-- Botão de Enviar -->
                                    <div class="flex justify-center items-center mt-10">
                                        <p-button 
                                            class="w-full text-black" 
                                            label="Alterar Playlist" 
                                            severity="success" 
                                            icon="pi pi-check" 
                                            [loading]="loading" 
                                            [style]="{ 'background-color': '#34d399', 'border-color': '#2bb381' , 'color': 'black',
                                                'padding' : '16px', 'border-radius' : '500px'
                                            }" 
                                            (onClick)="updatePlaylist()">
                                        </p-button>
                                    </div>
                                </form>
                            </div>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
