<app-navbar-logado></app-navbar-logado>

<main class="space-y-4">
    <!-- <nav class="flex flex-row  justify-between px-16 mt-8">
        <div class="flex flex-row items-center">
            <button (click)="goToHome()" class="text-2xl font-main button-voltar">
                ← Voltar
            </button>
        </div>    
    </nav> -->
    <section class="profile mt-5">
        <div class="flex">
            <img [src]="user!.images[0].url" class="profile-img">
            <div class="profile-infos">
                <h1 class="ml-10 m-5">{{user?.display_name}}</h1>
                <button class="profile-btn m-2">
                    <a [href]="user?.uri">Acessar perfil no sportify</a>
                </button>
                <div class="dropdown">
                    <button (click)="toggleDropdown()" class="profile-btn m-2">•••</button>
                    <div *ngIf="isOpen" class="dropdown-content">
                        <div class="profile-menu-div">
                            <mat-icon>share</mat-icon>
                            <p>Compartilhar perfil</p>
                        </div>
                        <div class="divider-up"></div>
                        <div class="profile-menu-div" (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <p>Sair da conta</p>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
        <div class="profile-followers">
            <div>
                <p class="profile-followers-text">{{user?.followers?.total}}</p>
                <p class="text-xs">Seguidores</p>
            </div>
            <div class="divider-down"></div>
            <div>
                <p class="profile-followers-text">0</p>
                <p class="text-xs">Seguindo</p>
            </div>
        </div>
    </section>
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Meu Top Artistas</p-tab>
            <p-tab value="1">Meu Top Músicas</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-top-artistas></app-top-artistas>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-top-musicas></app-top-musicas>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</main>