@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');


.barra-pesquisa{
    background-color: rgba(255, 255, 255, 0.10);
}

.cards{
    background-color: rgba(255, 255, 255, 0.10);
}

.font-DM{
    font-family: 'DM Sans',sans-serif
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-bottom: 20px;
}
