<nav class="navbar">
    <div class="navbar-left">
        <img src="assets/logo.svg" alt="Logo" class="logo" />
        <span class="brand"><a href="/home">BeatSpace</a></span>
        <div class="divider"></div>
        <ul class="nav-links">
            <li><a routerLink="/home/musicas">MÚSICAS</a></li>
            <li><a routerLink="/home/albuns">ÁLBUNS</a></li>
            <li><a routerLink="/home/playlists" >PLAYLISTS</a></li>
        </ul>
    </div>
    <div class="flex">
        <div class="flex flex-col justify-center mr-4">
            <p id="nome" class="text-white" *ngIf="user"  >{{user.display_name}}</p>
            <div class="flex flex-row items-center justify-center gap-4">
                <button (click)="goToProfile()">
                    <p id="perfil" class=" font-DM">Acessar Perfil</p>
                </button>
            </div>
        </div>
        <img [src]="user.images[1].url" *ngIf="user" class="user-img" />
    </div>
</nav>