<main class="">
    <section class="" >
        <h1>Utilize o Spotify para interagir com nossa comunidade</h1>
        <p>Conecte-se com outros apaixonados por música e compartilhe suas playlists favoritas. Descubra novos sons, crie conexões e aproveite o poder da música junto com nossa comunidade.</p>
        <button class="spotify-btn">BAIXAR SPOTIFY</button>
        <button class="ver-planos-btn">VER PLANOS</button>
    </section>
    <img src="assets/computer2.svg" alt="Computer" class="computer" />



</main> 
   <p-carousel  [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-product #item class="bg-red-500">
        <div class="border border-surface rounded-border m-2 p-4">
            <div class="mb-4">
                <div class="relative mx-auto">
                    <img src="https://ffw.uol.com.br/app/uploads/noticias/2017/02/capa-art-record-covers.jpg" [alt]="product.name" class="w-full rounded-border" />
                    <p-tag  class="absolute"  />
                </div>
            </div>
          
        </div>
    </ng-template>
</p-carousel>