<main id="home">
    <section>
        <h1>Utilize o Spotify para interagir com nossa comunidade</h1>
        <p>Conecte-se com outros apaixonados por música e compartilhe suas playlists favoritas. Descubra novos sons, crie conexões e aproveite o poder da música junto com nossa comunidade.</p>
        <a href="https://apps.microsoft.com/detail/9NCBCSZSJRSB?hl=pt-br&gl=BR&ocid=pdpshare">
            <button class="spotify-btn">BAIXAR SPOTIFY</button>
        </a>
        <a href="https://www.spotify.com/br-pt/premium/#plans">
            <button  class="ver-planos-btn">VER PLANOS</button>
        </a>
    </section>
    <img src="assets/computer2.svg" alt="Computer" class="computer" />
</main> 
