@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

section > h1 {
    color: #ffffffbe;
    margin: 0;
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
}

section > h2 {
    text-align: center;
    color: #ffffffbe;
}

.redirecionar-perfil {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #ffffff;
    text-underline-offset: 4px;
}

h1 {
    font-family: "DM Sans", serif;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
}

.divider2 {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav {
    margin-left: 150px;
    margin-right: 150px;
}

.barra-pesquisa {
    background-color: rgba(255, 255, 255, 0.10);
}

.cards {
    background-color: rgba(255, 255, 255, 0.10);
}

.font-DM {
    font-family: 'DM Sans',sans-serif
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 150px;
}

.p-email {
    font-size: 25px;
    padding-left: 20px;
    line-height: 30px;
}

.lancamentos {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}






.cards{
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50px;
}

.cards:hover{
    background-color: #34d399;
}

.paragrafo{
    font-size: 15px;
    justify-content: start;
}

.font-DM{
    font-family: "DM Sans", serif;
    color: white;
}

ng:host .p-carrousel  .p-carousel-indicator-button-highlight{
    background-color: red !important;
}

.div-carrossel {
    margin-left: 15px;
    margin-right: 15px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}