<div class="flex flex-col justify-center items-center gap-5 p-10">
    <h1 class="text-white text-3xl text-center">
        Rankings - Mais bem avaliados
    </h1>


    <div *ngIf="albuns.length === 0">
        <h1 class="text-white text-2xl text-center titulo">
            Não temos rankings para mostrar!
        </h1>
    </div>

    <div  class="block">
        <ul class="space-y-4">
        <li class="flex  items-center" *ngFor="let album of albuns; let i = index">
            <p class=" min-h-8 min-w-8  w-8 h-8 lg:w-10 lg:h-10 flex items-center justify-center rounded-full border-2 border-black text-xs lg:text-sm bg-gray-200 font-bold text-black" [ngClass]="{'bg-green-500': i<3}">
            {{i + 1}}
          </p>
          <div class="ml-4 flex items-center">
            <a [routerLink]="['/home/albuns/',album.id]">
               <img [src]="album.images[0].url"  
                alt=""  
                class="w-10 h-10 lg:w-12 lg:h-12 ml-2 mr-4">
            </a>
            <div class="flex flex-col"> 
                 <h2 class="text-md lg:text-base font-bold text-white">{{ album.name }} </h2>
                 <h2 class="text-md lg:text-base font-bold text-white"> Nota Média : {{ album.averagenota?.toFixed(2) }} </h2>
            </div>     
        </div>
      </li>
      </ul>
      </div>

</div>